<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{HTTP_HOST} !^www.buy-a-box.de$ [NC]
RewriteRule ^(.*)$ https://www.buy-a-box.de/$1 [L,R=301]

RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://www.buy-a-box.de/$1 [R=301,L]

</IfModule>