

.button {  
  width: auto;
  font-family: 'Raleway'; 
  padding: 5px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px; 
  color: #FFFFFF;
  background-color: #15C5CE;
  border-radius: 4px; 
  border: none;
}

.button.small {
  font-size: 16px; 
}

.button-outline {   
  padding: 5px 10px;
  border: 1px solid #E1E1E1;  
  background-color: #FFFFFF; 
  color: #4B4B4B;
  border-radius: 4px;
} 

.button-outline:hover{ 
  color: #47CFD6; 
  border: 1px solid #47CFD6;  
} 

.button-outline:active {  
  color: #00ABB6; 
  border: 2px solid #00ABB6;  
}