.navbarLink {
  background-color: var(--primary-color-dark);
  color: white;
  text-decoration: none;
  padding: 15px 20px; 
  transition: 0.5s;
  font-size: 18px;
}

.navbarLink:first-child {
  border-bottom-left-radius: 6px;
}

.navbarLink:last-child {
  border-bottom-right-radius: 6px;
}

.navbarLink:nth-child(n+2) {
  border-left: 1px solid #0000002e;
}

.navbarLink:not(.active) {
  box-shadow: 0 7px 3px -5px #00000029 inset;
}

.navbarLink:not(.active):hover {
  text-decoration: underline;
}

.navbarLink.active {
  background-color: var(--primary-color);
  text-decoration: none;
  cursor: default;
}
