.filterBoxHeader { 
  display: flex;  
  justify-content: space-between;
} 

.saveBtnFooter {   
  margin-top: 10px; 
  padding-top: 10px;
  display: flex;  
  justify-content: flex-end;  
  align-items: center;   
  border-top: 2px solid #EEEEEE;
} 

.filter-titel {  
  font-size: 12px; 

} 

.section-title {  
  margin-top: 10px;  
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}

.filter-examples {
  padding-top: 30px;
}