
.infoText {  
  font-family: 'Raleway', sans-serif;  
  text-align: left; 
  padding: 10px;  
  margin: 0;
  font-size: 12px; 
  line-height: 18px; 
  font-style: normal;
} 

.infoTextH2 {  
font-weight: 700;
} 

.infoTextP { 
font-weight: 400;
}