.popupBoxContent {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}



.popupBox { 
  width: 300px;
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;


  margin: auto auto;
  position: fixed;
  background-color: #ffff;
  left: 12px;
  right: 12px;
  top: 36px;
  margin-bottom: 36px; 
  padding : 20px; 
  
}

.closeContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline; 
  border-bottom: 2px solid #EEEEEE;
} 

h2{ 
  margin-top: 0; 
  margin-bottom: 10px;
}

.close{   
  border: none;
  padding-left: 20px;
  font-size: 25px;   
  background-color: white;
  color: #8E8E8E; 
  cursor: pointer;
 }  


 @media ( min-width: 800px ) {
	.popupBox {
   max-width: 500px;
  }

}
