.tableContent {
  max-width: 1000px; 
  margin: 0 auto;
}

.inscriptions{ 
  visibility: hidden;
}

th,td {
  text-align: left;
  padding: 16px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media ( min-width: 650px ) {
	.inscriptions{ 
    visibility: visible;
  }
}