.tagscategory { 
  text-align: left;
}


.allTags{    
  padding: 5px;
  border-radius: 4px; 
  border : 1px solid  #cbc9c9;

  display: flex;
  justify-content: left; 

}

.tagsName{     
  color: #4B4B4B ;
 margin-left: 5px;
 padding: 10px 5px ;
  background-color: #cbc9c9;
  border-radius: 2px;
}


.deleteTag {  
  color: #8E8E8E;
}