.for-desktop{   
  display: flex; 
  flex-direction: column; 
  width: 100%;  
  min-height: 100vh;
  background-color: #F5F5F5
}

.page {  
  max-width: 1000px; 
  margin: auto auto;
  padding: 10px;
  text-align: center;
}

.content-app { 
  flex-grow: 1;
}

.content-section {  
  text-align: left;
  padding: 20px 15px;
  margin: 0;
  font-size: 12px; 
  line-height: 18px; 
  font-style: normal;
} 

.content-section h2 {  
  font-size: 18px;
  font-weight: 500;
} 

.content-section p { 
  font-weight: 400;
}