.for-desktop{   
  display: flex; 
  flex-direction: column; 
  width: 100%;  
  min-height: 100vh;
  background-color: #F5F5F5
}

.page {  
  max-width: 1000px; 
  margin: auto auto;
  padding: 10px;
  text-align: center;
}

.content-app{ 
  flex-grow: 1;
}
